Located in {{article.author}}, this {{article.title}} bedroom {{article.text}} is
available by arrangement through {{article.text}}.
<br>
<p>{{#link-to 'article' article.id}}<img src={{article.image}} alt={{article.title}}>{{/link-to}}</p>
