
<h1>this is the app/temp/index.hbs</h1>


<ul>
  {{#each model as |article|}}
  <li>{{article.author}} {{article.image}} {{article.title}}
  <p><img src={{article.image}} alt={{article.title}} ></p>
  </li>
  {{/each}}
</ul>

{{#link-to 'admin'}}Admin{{/link-to}}
